 <html>
      <head>
          <title>Planet of devils #25</title>
      </head>
  <body>
  
 <% if greeting %>
   <p>I just wanted to say    
 <% else %>
   <em>Hello</em>, world!
 <% end %> 
 <input type="text" size="25" maxlength="25" />
<input type="text" size="25" maxlength="25" />
<input type="text" size="25" maxlength="25" />
<input type="submit" value="add" />
<br/>
<br/>

<TABLE border="1" cellpadding="5" cellspacing="2">
 
    <TH scope="col"><%= @name %></TH>
    <TH scope="col"><%= @age %></TH>
    <TH scope="col"><%= @sex %></TH>
  </TR>
  <TR>

    <TD scope="row"><%= @raw02 %></TD>
    <TD><%= @raw12 %></TD>
    <TD><%= @raw22 %></TD>
  </TR>
  <TR>

    <TD scope="row"><%= @raw03 %></TD>
    <TD><%= @raw13 %></TD>
    <TD><%= @raw23 %></TD>
  </TR>
  <TR>

    <TD scope="row"><%= @raw04 %></TD>
    <TD><%= @raw14 %></TD>
    <TD><%= @raw24 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw05 %></TD>
    <TD><%= @raw15 %></TD>
    <TD><%= @raw25 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw06 %></TD>
    <TD><%= @raw16 %></TD>
    <TD><%= @raw26 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw07 %></TD>
    <TD><%= @raw17 %></TD>
    <TD><%= @raw27 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw08 %></TD>
    <TD><%= @raw18 %></TD>
    <TD><%= @raw28 %></TD>
  </TR>
  <TR>

    <TD scope="row"><%= @raw09 %></TD>
    <TD><%= @raw19 %></TD>
    <TD><%= @raw29 %></TD>
  </TR>
  <TR>

    <TD scope="row"><%= @raw010 %></TD>
    <TD><%= @raw110 %></TD>
    <TD><%= @raw210 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw011 %></TD>
    <TD><%= @raw111 %></TD>
    <TD><%= @raw211 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw012 %></TD>
    <TD><%= @raw112 %></TD>
    <TD><%= @raw212 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw013 %></TD>
    <TD><%= @raw113 %></TD>
    <TD><%= @raw213 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw014 %></TD>
    <TD><%= @raw114 %></TD>
    <TD><%= @raw214 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw015 %></TD>
    <TD><%= @raw115 %></TD>
    <TD><%= @raw215 %></TD>
  </TR>
  <TR>

<TD scope="row"><%= @raw016 %></TD>
    <TD><%= @raw116 %></TD>
    <TD><%= @raw216 %></TD>
  </TR>
  <TR>

</table>

 </body>
 </html>


