 <html>
      <head>
          <title>Planet of devils #25</title>
      </head>
  <body>
  
 <% if greeting %>
   <p>I just wanted to say    
 <% else %>
   <em>Hello</em>, world!
 <% end %> 
<input type="text" size="25" maxlength="25" />
<input type="text" size="25" maxlength="25" />
<input type="text" size="25" maxlength="25" type= input />
<input type="submit" value="add"/>
<br/>
<br/>

<table border="1" cellpadding="5" cellspacing="2">
 
    <th scope="col"><%= @name %></th>
    <th scope="col"><%= @age %></th>
    <th scope="col"><%= @sex %></th>
  </tr>
  <tr>

    <td scope="row"><%= @raw02 %></td>
    <td><%= @raw12 %></td>
    <td><%= @raw22 %></td>
  </tr>
  <tr>

    <td scope="row"><%= @raw03 %></td>
    <td><%= @raw13 %></td>
    <td><%= @raw23 %></td>
  </tr>
  <tr>

    <td scope="row"><%= @raw04 %></td>
    <td><%= @raw14 %></td>
    <td><%= @raw24 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw05 %></td>
    <td><%= @raw15 %></td>
    <td><%= @raw25 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw06 %></td>
    <td><%= @raw16 %></td>
    <td><%= @raw26 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw07 %></td>
    <td><%= @raw17 %></td>
    <td><%= @raw27 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw08 %></td>
    <td><%= @raw18 %></td>
    <td><%= @raw28 %></td>
  </tr>
  <tr>

    <td scope="row"><%= @raw09 %></td>
    <td><%= @raw19 %></td>
    <td><%= @raw29 %></td>
  </tr>
  <tr>

    <td scope="row"><%= @raw010 %></td>
    <td><%= @raw110 %></td>
    <td><%= @raw210 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw011 %></td>
    <td><%= @raw111 %></td>
    <td><%= @raw211 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw012 %></td>
    <td><%= @raw112 %></td>
    <td><%= @raw212 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw013 %></td>
    <td><%= @raw113 %></td>
    <td><%= @raw213 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw014 %></td>
    <td><%= @raw114 %></t>
    <td><%= @raw214 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw015 %></td>
    <td><%= @raw115 %></td>
    <td><%= @raw215 %></td>
  </tr>
  <tr>

<td scope="row"><%= @raw016 %></td>
    <td><%= @raw116 %></td>
    <td><%= @raw216 %></td>
  </tr>
  <tr>

</table>

</tr>
 <tr>
<textarea rows="8">dddfgdfg </textarea>
</tr>
 <tr>

<script type="text/javascript">document.write("<p>" + Date() + "</p>");

  

 </script>


 </body>
 </html>


